@{
    ViewData["Title"] = "DiscoverDetail";
    News news = new News();
    news = ViewBag.NewsWithTags;
}



<div class="row pageRow">
    <div class="col-lg-10 offset-lg-1 technologiDetail">
        <div class="row">
            <div class="pageContentMain">
                <div class="col-lg-9 col-12 discoverDetailPageContent">
                    <div class="prodlbc newsbc">
                        <div class="prodlbi newsbi">
                            <a href="https://www.accela.eu/ivim-technology">
                                <img alt="IVIM Technology" src="https://www.accela.eu/files/brands/78/yafdxc.png" />
                            </a>
                        </div>
                    </div>


                    <div class="row newsi">
                        <img src="https://www.accela.eu/files/news/726/880x200.jpg" title="ACCELA Educational webinar series: IntraVital Microscopy (IVM): In Vivo Live Cell Imaging Platform" />

                    </div>
                    <div class="newscon">
                        <!--<h1>@ViewData["Title"]</h1>-->
                        <h1>@news.Title</h1>
                        <p class="date">@news.Created</p>

                        <div class="newstext"><p style="text-align: justify;"><span style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;">@news.Content </span></p></div>

                        <div class="row">

                            <div class="ntags col-12">
                                @{
                                   // List<Tags> tagsss = new List<Tags>();
                                    foreach (Tags tags in news.Tags ?? new List<Tags>())
                                    {

                                            <div class="ntag">
                                                <span>@tags.Name</span>
                                            </div>
                                        }
                                    



                                }
                                <!--<div class="ntag">
        <span>Application</span>
    </div>
    <div class="ntag ntaglast">
        <span>Webinar</span>
    </div>-->
                            </div>

                            <div class="newstechs col-12">
                                <p>Related technologies: <a href="https://www.accela.eu/technologies/in-vivo-imaging/intravital-microscopy">IntraVital Microscopy</a></p>
                            </div>
                            <div class="col-lg-6 col-12 newsinfo manTechDetail">
                                <p class="title">Get more info</p>
                                <div class="manic">
                                    <div class="cell_88_100"></div>
                                    <div class="mani">
                                        <img alt="Miroslav Vecheta" src="~/file/img/Managers/@news.Manager.ImageRelativeURL" />
                                    </div>
                                </div>
                                <div class="manr">
                                    <p class="func">@news.Manager.Department.Name </p>
                                    <p class="name">@news.Manager.Firstname </p>
                                    <p class="name">@news.Manager.Lastname </p>
                                </div>
                                <div class="mancon">
                                    <p class="phone con">@news.Manager.Phone</p>
                                    <p class="email con">@news.Manager.Email</p>
                                </div>
                                <div class="outerS">
                                    <a href="#">
                                        <div class="button">
                                            <div class="text row">send message <span class="buttonImage"></span></div>
                                        </div>
                                    </a>
                                </div>


                            </div>
                            <div class="col-lg-6 col-12">

                                <div class="newsbrand newsinfo">
                                    <p class="title">Brand profile</p>
                                    <div class="brandsb">
                                        <div class="brandsbic">
                                            <a href="/Brand/@news.Producer.URL">
                                                <div class="brandsbi">
                                                    <img src="~/file/img/Brands/@news.Producer.ImageRelativeURL" alt="@news.Producer.Name" />
                                                </div>
                                            </a>
                                        </div>
                                        <div class="brandsbr">
                                            <h2>
                                                <a href="/Brand/@news.Producer.URL"> @news.Producer.Name </a>
                                            </h2>
                                            <div class="text"><p><span style="font-size: 18px;">@news.Producer.SmallText </span></p></div>
                                            <p class="blink">
                                                More info at:<br />
                                                <a href="@news.Producer.ReferenceLink" target="_blank">@news.Producer.ReferenceLink </a>
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <h3 class="discoverDetailProducts">Related products</h3>

                            </div>

                        </div>

                    </div>






                </div>
                <div class="col-lg-3 col-12 pfil">
                    <a class="newButton">
                        Back to filter
                        <img class="btnIconWhite" src="~/file/pictures/icon_rightw_button.png" />
                        <img class="btnIconGreen" src="~/file/pictures/icon_right_button.png" />
                    </a>
                    <p class="title">Related topics</p>

                    <div class="newsrelas1">
                        <div class="newsrela">
                            <p class="ntitle">
                                <a href="https://www.accela.eu/discover/accela-educational-webinar-series-nanoview-purification-free-characterization-of-extracellular-vesicles-and-viruses">ACCELA Educational webinar series: NanoView - Purification-free characterization of extracellular vesicles and viruses</a>
                            </p>
                            <div class="newsrelabrand">
                                <img src="https://www.accela.eu/files/brands/79/dgsv.png" title="NanoView Biosciences" alt="NanoView Biosciences" />
                            </div>
                            <p class="date">Jun 10, 2021</p>
                            <div class="newsrelatext">
                                <p><span style="color: #232333; font-size: 14px; font-family: Lato, Helvetica, Arial;">NanoView Biosciences has developed</span><span class="textpoints">...</span></p>
                            </div>
                        </div>
                    </div>
                </div>


                <!--products-->

                <div class="col-lg-10 col-12 discoverDetailProductContainer">

                    <div class="flex-container column">
                        @{
                            foreach (Product prod in news.RelatedProducts)
                            {
                                <div class="flex-item">
                                    <div class="row prodItem">
                                        <div class="col-lg-12 col-5">
                                            <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                            <h3 class="prodName"><a>@prod.Name</a></h3>
                                        </div>
                                        <div class="col-lg-12 col-7 MprodItemBottom">
                                            <h3 class="prodSubtitle"><a> @prod.Name</a></h3>
                                            <p class="h3desc">@prod.SmallDescription</p>
                                            <div class="outerM">
                                                <a href="#">
                                                    <div class="button">
                                                        <div class="text row">show detail <span class="buttonImage"></span></div>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>

                                        <div class="prodItemBottom">
                                            <p class="h3desc hide h3descProduct">@prod.SmallDescription</p>
                                            <div class="outer productOuterS">
                                                <a href="#">
                                                    <div class="button">
                                                        <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }





                        <!--  <div class="flex-item">
                              <div class="row prodItem">
                                  <div class="col-lg-12 col-5">
                                      <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                      <h3 class="prodName"><a> F DSFG SDG</a></h3>
                                  </div>
                                  <div class="col-lg-12 col-7 MprodItemBottom">
                                      <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                                      <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                                      <div class="outerM">
                                          <a href="#">
                                              <div class="button">
                                                  <div class="text row">show detail <span class="buttonImage"></span></div>
                                              </div>
                                          </a>
                                      </div>

                                  </div>

                                  <div class="prodItemBottom">
                                      <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                                      <div class="outer productOuterS">
                                          <a href="#">
                                              <div class="button">
                                                  <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>



                          <div class="flex-item">
                              <div class="row prodItem">
                                  <div class="col-lg-12 col-5">
                                      <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                      <h3 class="prodName"><a> F DSFG SDG</a></h3>
                                  </div>
                                  <div class="col-lg-12 col-7 MprodItemBottom">
                                      <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                                      <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                                      <div class="outerM">
                                          <a href="#">
                                              <div class="button">
                                                  <div class="text row">show detail <span class="buttonImage"></span></div>
                                              </div>
                                          </a>
                                      </div>

                                  </div>

                                  <div class="prodItemBottom">
                                      <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                                      <div class="outer productOuterS">
                                          <a href="#">
                                              <div class="button">
                                                  <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="flex-item">
                              <div class="row prodItem">
                                  <div class="col-lg-12 col-5">
                                      <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                      <h3 class="prodName"><a> F DSFG SDG</a></h3>
                                  </div>
                                  <div class="col-lg-12 col-7 MprodItemBottom">
                                      <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                                      <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                                      <div class="outerM">
                                          <a href="#">
                                              <div class="button">
                                                  <div class="text row">show detail <span class="buttonImage"></span></div>
                                              </div>
                                          </a>
                                      </div>

                                  </div>

                                  <div class="prodItemBottom">
                                      <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                                      <div class="outer productOuterS">
                                          <a href="#">
                                              <div class="button">
                                                  <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="flex-item">
                              <div class="row prodItem">
                                  <div class="col-lg-12 col-5">
                                      <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                      <h3 class="prodName"><a> F DSFG SDG</a></h3>
                                  </div>
                                  <div class="col-lg-12 col-7 MprodItemBottom">
                                      <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                                      <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                                      <div class="outerM">
                                          <a href="#">
                                              <div class="button">
                                                  <div class="text row">show detail <span class="buttonImage"></span></div>
                                              </div>
                                          </a>
                                      </div>

                                  </div>

                                  <div class="prodItemBottom">
                                      <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                                      <div class="outer productOuterS">
                                          <a href="#">
                                              <div class="button">
                                                  <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="flex-item">
                              <div class="row prodItem">
                                  <div class="col-lg-12 col-5">
                                      <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                      <h3 class="prodName"><a> F DSFG SDG</a></h3>
                                  </div>
                                  <div class="col-lg-12 col-7 MprodItemBottom">
                                      <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                                      <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                                      <div class="outerM">
                                          <a href="#">
                                              <div class="button">
                                                  <div class="text row">show detail <span class="buttonImage"></span></div>
                                              </div>
                                          </a>
                                      </div>

                                  </div>

                                  <div class="prodItemBottom">
                                      <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                                      <div class="outer productOuterS">
                                          <a href="#">
                                              <div class="button">
                                                  <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>-->






                    </div>

                </div>

                <!--end products-->

            </div>




        </div>

        <!-- base of div for responsibility  -->
    </div>
    <div class="col-lg-10 offset-1 col-12">


    </div>
</div>

<script>
    $(document).ready(function () {
       // alert("haf");
    });

    
</script>