@model accela.Models.Brand
<div class="mx-auto">
    <h1 class="text-center"> Add new brand </h1>
</div>
<form class="needs-validation" method="post" asp-action="AddBrand" asp-controller="Admin" novalidate>
  <div class="mb-3">
    <label asp-for="@Model.Name" class="form-label">Name of brand</label>
    <input asp-for="@Model.Name" type="text" class="form-control" aria-describedby="nameHelp" required>
    <div class="valid-feedback">
        Looks good!
    </div>
    <div class="invalid-feedback">
        This field is mandatory, fill it please.
    </div>
    <div id="nameHelp" class="form-text form-helper">Name of product has to be unique. <span class="form-mandatory"> This field is mandatory. </span> </div>
  </div>
  <div class="mb-3">
    <label asp-for="@Model.Description" for="">Description</label>
    <textarea asp-for="@Model.Description" class="form-control" placeholder="Write the description of product here." style="height: 100px"></textarea>
    <div class="valid-feedback">
        Looks good!
    </div>
    <div id="descHelp" class="form-text form-helper">Description of the product.</div>
  </div>
   <div class="mb-3">
    <label asp-for="@Model.SmallText" class="form-label">Small description</label>
    <input type="text" class="form-control" aria-describedby="subtitleHelp" asp-for="@Model.SmallText"/>
    <div class="valid-feedback">
        Looks good!
    </div>
    <div id="subtitleHelp" class="form-text form-helper"> Small description is shown as basic (small, quick) information about brand.  </div>
  </div>
  <div class="mb-3">
    <label asp-for="@Model.ReferenceLink" class="form-label">Link to brand's website </label>
    <input type="text" class="form-control" aria-describedby="linkHelp" asp-for="@Model.ReferenceLink" required/>
    <div class="valid-feedback">
        Looks good!
    </div>
    <div class="invalid-feedback">
        This field is mandatory, fill it please.
    </div>
    <div id="linkHelp" class="form-text form-helper"> A link that leads to the original product page. <span class="form-mandatory"> This field is mandatory. </span> </div>
  </div>
  <div class="mb-3">
    <select class="form-select" required>
        <option selected>Click here and select Manager</option>
        @{
            foreach(Manager manager in ViewBag.ManagerList){
                <option value="@manager.ID"> @manager.Firstname @manager.Lastname (@manager.Email) </option>
            }
        }
    </select>
    <div class="valid-feedback">
        Looks good!
    </div>
    <div class="invalid-feedback">
        This field is mandatory, choose Manager please.
    </div>
  </div>
    <div class="mb-3">
        <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" asp-for="@Model.Visibility">
        <label class="form-check-label" asp-for="@Model.Visibility"> Should be brand visible? <span class="form-mandatory"> This field is mandatory. </span> </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>