<div class="row">
    <div class="mx-auto">
        <h1 class="text-center"> Brands management </h1>
    </div>
</div>
<div class="row">
    <div class="mx-auto" style="margin-top:5vh">
        <div class="row">
            <div class="col">
                <a class="btn float-end btn-primary" asp-action="AddBrand" asp-controller="Admin"> Add new brand </a>
            </div>
        </div>
    @{
        List<Brand> brands = ViewBag.BrandList;
        if(brands.Count() != 0){
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> Brand name </th>
                        <th> Manager </th>
                        <th> Visible </th>
                        <th> Operation </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach(Brand brand in brands){
                            <tr>
                                <td> @brand.ID </td>
                                <td> @brand.Name </td>
                                <td> @brand.Contact.Firstname @brand.Contact.Lastname </td>
                                <td> @brand.Visibility </td>
                                <td> 
                                    <a class="btn btn-primary" href="~/Admin/Brand?bid=@brand.ID"> show </a>
                                    <a class="btn btn-warning" href="~/Admin/AddBrand?ID=@brand.ID"> edit </a> 
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }else{
            <div class="page-container height-500">
                <h3 style="margin-top: 10%; padding: 0px 60px" class="bg-danger text-center text-white"> No brands found. </h3>
            </div>
        }
    }
    </div>
</div>
