<div class="row">
    <div class="col">
        <h1 class="mx-auto"> Správa manažerů </h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table mx-auto" style="width: 60%;">
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Jméno </th>
                    <th> Email </th>
                    <th> Tel. </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(Manager mng in ViewBag.ManagerList){
                        <td>@mng.ID</td>
                        <td>@mng.Firstname @mng.Lastname</td>
                        <td>@mng.Email</td>
                        <td>@mng.Phone</td>
                    }
                }
            </tbody>
        </table>
    </div>
</div>