<div class="row">
    <div class="mx-auto">
        <h1> Product management </h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-action="AddProduct" asp-controller="Admin"> Add new product </a>
    </div>
</div>
<div class="row">
    <div class="mx-auto">
    @{
        List<Product> products = ViewBag.ProductList;
        if(products.Count() != 0){
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> Product name </th>
                        <th> Producer </th>
                        <th> Manager </th>
                        <th> Visible </th>
                        <th> Operation </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach(Product product in products){
                            <tr>
                                <td> @product.ID </td>
                                <td> @product.Name </td>
                                <td> @product.Producer.Name </td>
                                @{
                                    if(product.Manager.ID == 0){
                                        <td> @product.Producer.Contact.Firstname @product.Producer.Contact.Lastname </td>
                                    }else{
                                        <td> @product.Manager.Firstname @product.Manager.Lastname </td>
                                    }
                                }
                                <td> @product.Visibility </td>
                                <td> 
                                    <a asp-action="Product" asp-controller="Admin"> <i> show </i></a>
                                    <a asp-action="EditProduct" asp-controller="Admin"> <i class="glyphicon"> edit </i> </a> 
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }else{
            <div class="page-container height-500">
                <h3 style="margin-top: 48%; padding: 0px 60px" class="bg-danger text-white"> No products found. </h3>
            </div>
        }
    }
    </div>
</div>
