@model accela.Models.Category;
@{
    ViewData["Title"] = "Molecular technologies";
    //Category category = new Category();
    //category = ViewBag.CategoryList;
}



<div class="row pageRow">
    <div class="row bannerNoStyle bannerContainer">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>

    </div>
    <div class="pageContentMain">
        <div class="col-lg-10 offset-lg-1">
            <div class="row techc">
                <div class="col-lg-2 col-12">
                    <div class="techl">
                        <div class="techlic">
                            <div class="cell_186_210"></div>
                            <div class="techli">
                                <img alt="Ultra and high performance centrifuges" src="https://www.accela.eu/files/techs/47/ultra-and-high-performance-centrifuges2.jpg" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-7 col-12 techr">
                    <h1>@Model.Name</h1>
                    <p class="h1desc">@Model.Name</p>
                    <div class="text smtext" id="prod_text">
                        <p style="color: #333333; font-size: 12px; font-family: Arial, sans-serif;">@Model.Description</p> <div class="ptextover hide" id="prod_text_over"></div>
                    </div>
                    <p class="show">
                        <a class="show_all " id="show_more" href="javascript:">Show more</a>
                    </p>

                </div>
                <div class="col-lg-3 col-12 manTechDetail">
                    <div class="manic">
                        <div class="cell_88_100"></div>
                        <div class="mani">
                            <img alt="@Model.Contact.Firstname @Model.Contact.Lastname" src="~/file/img/Managers/@Model.Contact.ImageRelativeURL" />
                        </div>
                    </div>
                    <div class="manr">
                        <p class="func">@Model.Contact.Department.Name</p>
                        <p class="name">@Model.Contact.Firstname</p>
                        <p class="name">@Model.Contact.Lastname</p>
                    </div>
                    <div class="mancon">
                        <p class="phone con">@Model.Contact.Phone</p>
                        <p class="email con">@Model.Contact.Email</p>
                    </div>
                    <div class="outerS">
                        <a href="#">
                            <div class="button">
                                <div class="text row">send message <span class="buttonImage"></span></div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>

        </div>
        <div class="techdel proddel">
            <div class="techdelc">

            </div>
        </div>
        <div class="col-lg-10 offset-1 col-12">


            <div class="flex-container column">
                @{
                    foreach (Product prod in Model.Products)
                    {
                        <div class="flex-item">
                            <div class="row prodItem">
                                <div class="col-lg-12 col-5">
                                    <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                    <h3 class="prodName"><a>@prod.Name</a></h3>
                                </div>
                                <div class="col-lg-12 col-7 MprodItemBottom">
                                    <h3 class="prodSubtitle"><a>@prod.Name</a></h3>
                                    <p class="h3desc">@prod.Subtitle</p>


                                    <div class="outerM">
                                        <a href="#">
                                            <div class="button">
                                                <div class="text row">show detail <span class="buttonImage"></span></div>
                                            </div>
                                        </a>
                                    </div>



                                </div>

                                <div class="prodItemBottom">
                                    <p class="h3desc hide h3descProduct">@prod.Subtitle</p>


                                    <div class="outer productOuterS">
                                        <a href="#">
                                            <div class="button">
                                                <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                            </div>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    }


}







            </div>

        </div>
        <div class="col-lg-10 offset-1 col-12">
            <div class="row">
                <div class="techlist">
                    <h2>More of Molecular technologies</h2>

                    
                    @{
                        foreach (Category categ in Model.PoolCategories)
                        {
                            if (Model.ID != categ.ID)
                            {
                                <div class="tech col-3">
                                    <div class="imgc">
                                        <div class="cell_38_42"></div>
                                        <img alt="@categ.Name" src="~/file/img/Pools/@categ.Image" />
                                    </div>
                                    <a href="/Technology/@categ.URL">@categ.Name</a>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
       
        

        </div>


    </div>

  
</div>