@{
    ViewData["Title"] = "Home Page";
    ViewBag.Dadida = "abrakadabra";
}

<!--
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

-->

<div class="hpTop w-100 bg-danger">

    <h1 class="hpTitle">Accela</h1>

</div>
<div class="pageContentMain">
    <div class="row d-lg-justify-content-centercenter hpTechSubmenu hptop_field">
        <div class="col-6 col-lg-2 offset-lg-1 hpSubmenu d-flex justify-content-center">
            <div class="hptop_fieldimg ">
                <div class="hptop_fieldimgi">
                    <div class="cell_home"></div>

                    <div class="hexagon hexagon1">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2">
                                <img alt="Molecular technologies" src="~/file/pictures/molecular.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://www.accela.eu/technologies/molecular-technologies"></a>
            </div>
            <div>
                <h2>
                    <a href="https://www.accela.eu/technologies/molecular-technologies">Molecular<br />technologies</a>
                </h2>
                <div class="row hpSubmenuHiddenText">
                    <p class="fielddesc">
                        HTP end-point and qPCR SNP genotyping
                        <span></span>Gene expression
                        <span></span>Target enrichment<span></span>Single cell genomics<span></span>Digital PCR

                    </p>
                    <div class="col-12 hpSubmenuButton">
                        <a class="newButton">
                            Show more
                            <img class="btnIconWhite" src="~/file/pictures/icon_rightw_button.png" />
                            <img class="btnIconGreen" src="~/file/pictures/icon_right_button.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-2 hpSubmenu d-flex justify-content-center">
            <div class="hptop_fieldimg">
                <div class="hptop_fieldimgi">
                    <div class="cell_home"></div>

                    <div class="hexagon hexagon1">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2">
                                <img alt="Cellular analysis" src="~/file/pictures/cellular-analysis-hex.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://www.accela.eu/technologies/molecular-technologies"></a>
            </div>
            <div>
                <h2>
                    <a href="https://www.accela.eu/technologies/molecular-technologies">Cellular<br/> analysis</a>
                </h2>
                <div class="row hpSubmenuHiddenText">
                    <p class="fielddesc">
                        Fluorescence<br>Luminescence<br>Holography<span></span>Time-lapse Label free<span></span>Metabolic Anaerobic<span></span>Hypoxia<span></span>Nano particle<span></span>Plant growth

                    </p>
                    <div class="col-12 hpSubmenuButton">
                        <!--Button-->
                        <a class="newButton">
                            Show more
                            <img class="btnIconWhite" src="~/file/pictures/icon_rightw_button.png" />
                            <img class="btnIconGreen" src="~/file/pictures/icon_right_button.png" />
                        </a>
                        <!--End button-->
                    </div>
                </div>
            </div>

        </div>
        <div class=" col-6 col-lg-2 hpSubmenu d-flex justify-content-center">
            <div class="hptop_fieldimg">
                <div class="hptop_fieldimgi">
                    <div class="cell_home"></div>

                    <div class="hexagon hexagon1">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2">
                                <img alt="Flow cytometry" src="~/file/pictures/flow-cytometry-hex.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://www.accela.eu/technologies/molecular-technologies"></a>
            </div>

            <div>
                <h2>
                    <a href="https://www.accela.eu/technologies/molecular-technologies">Flow <br/>cytometry</a>
                </h2>
                <div class="row hpSubmenuHiddenText">
                    <p class="fielddesc">
                        Conventional, Spectral Cytometry<span></span>Cell sorting<br>HTP screening<span></span>Imaging cytometry
                    </p>
                    <div class="col-12 hpSubmenuButton">
                        <!--Button-->
                        <a class="newButton">
                            Show more
                            <img class="btnIconWhite" src="~/file/pictures/icon_rightw_button.png" />
                            <img class="btnIconGreen" src="~/file/pictures/icon_right_button.png" />
                        </a>
                        <!--End button-->
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 col-lg-2 hpSubmenu d-flex justify-content-center">
            <div class="hptop_fieldimg">
                <div class="hptop_fieldimgi">
                    <div class="cell_home"></div>

                    <div class="hexagon hexagon1">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2">
                                <img alt="In vivo imaging" src="~/file/pictures/imaging_hex2.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://www.accela.eu/technologies/molecular-technologies"></a>
            </div>

            <div>
                <h2>
                    <a href="https://www.accela.eu/technologies/molecular-technologies">In vivo<br/> imaging</a>
                </h2>
                <div class="row hpSubmenuHiddenText">
                    <p class="fielddesc">
                        Fluorescence<br>Luminescence<span></span>X-ray Isotopic<span></span>PET<span></span>SPECT<span></span>CT<br>Ultrasound<br>Photoacoustic<span></span>Confocal<br>Irradiation
                    </p>
                    <div class="col-12 hpSubmenuButton">
                        <a class="newButton">
                            Show more
                            <img class="btnIconWhite" src="~/file/pictures/icon_rightw_button.png" />
                            <img class="btnIconGreen" src="~/file/pictures/icon_right_button.png" />
                        </a>
                    </div>


                </div>

            </div>
           

        </div>
        <div class="col-6 col-lg-2 hpSubmenu d-flex justify-content-center">
            <div class="hptop_fieldimg">
                <div class="hptop_fieldimgi">
                    <div class="cell_home"></div>

                    <div class="hexagon hexagon1">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2">
                                <img alt="Animal research" src="~/file/pictures/mouse_hex.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://www.accela.eu/technologies/molecular-technologies"></a>
            </div>
            
            <div>
                <h2>
                    <a href="https://www.accela.eu/technologies/molecular-technologies">Animal <br />research</a>
                </h2>
                <div class="row hpSubmenuHiddenText">
                    <p class="fielddesc">
                        IVC and Conventional Caging<br>All for Vivarium<br>Animal Physiology
                    </p>
                    <div class="col-12 hpSubmenuButton">
                        <!--Button-->
                        <a href="seznam.cz" class="newButton">
                            Show more
                            <img class="btnIconWhite" src="~/file/pictures/icon_rightw_button.png" />
                            <img class="btnIconGreen" src="~/file/pictures/icon_right_button.png" />
                        </a>
                        <!--End button-->
                    </div>
                    

                </div>
               
            </div>
            
           



        </div>
    </div>


    <div class="row hpBoxContainer hpAccelerateToDiscover">
        <div class="col-lg-8 offset-lg-2">

            <div class="row">
                <p class="mx-auto hpSubTitle">Accelerate to discover</p>
            </div>
            <div class="row">
                @{
                    int countNews = 1;
                    string newClass = "";
                    foreach (News news in ViewBag.DiscoverList)
                    {
                        if (countNews == 1)
                        {
                            newClass = "hpDiscoverItemL";
                            countNews++;
                        }
                        else if (countNews == 2)
                        {
                            newClass = "hpDiscoverItemM";
                            countNews++;
                        }
                        else
                        {
                            newClass = "hpDiscoverItemR";
                            countNews++;
                        }
                        <div class="col-lg @newClass hpDiscoverItemL">
                            <div class="news">
                                <div class="prodlbc newsbc">
                                    <div class="prodlbi newsbi">
                                        <a href="/Brand/@news.Producer.URL">
                                            <img alt="@news.Producer.Name" src="~/file/img/Brands/@news.Producer.ImageRelativeURL" />
                                        </a>
                                    </div>
                                </div>
                                <div class="newsi">

                                    <a href="/Discover/@news.URL">
                                        <img src="https://www.accela.eu/files/news/728/420x180w25_hp.jpg" title="@news.Title Pretargeted delivery of PI3K/mTOR small-molecule inhibitor–loaded nanoparticles" />
                                    </a>
                                </div>
                                <div class="newscon">
                                    <h2>
                                        <a href="/Discover/@news.URL">@news.Title Pretargeted delivery of PI3K/mTOR small-molecule inhibitor-loaded nanoparticles</a>
                                    </h2>

                                    <!--<div class="newstext">@news.ContentSmall</div>-->
                                    <p class="date">@news.Created</p>

                                    <div class="ntags">
                                        @{
                                            foreach (Tags tag in news.Tags)
                                            {
                                                <div class="ntag">
                                                    <span>@tag.Name</span>
                                                </div>
                                            }
                                        }
                                        <!--<div class="ntag">
            <span>Scientific paper</span>
        </div>
        <div class="ntag ntaglast">
            <span>Application</span>
        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    }




                }
                <!--
    <div class="col-lg bg-primary hpDiscoverItemL">
        <div class="news">
            <div class="prodlbc newsbc">
                <div class="prodlbi newsbi">
                    <a href="https://www.accela.eu/spectral-instruments-imaging">
                        <img alt="Spectral Instruments Imaging" src="https://www.accela.eu/files/brands/66/imaging_reimagined_new.jpg" />
                    </a>
                </div>
            </div>
            <div class="newsi">

                <a href="https://www.accela.eu/discover/pretargeted-delivery-of-pi3k-mtor-small-molecule-inhibitor-loaded-nanoparticles">
                    <img src="https://www.accela.eu/files/news/728/420x180w25_hp.jpg" title="Pretargeted delivery of PI3K/mTOR small-molecule inhibitor–loaded nanoparticles" />
                </a>
            </div>
            <div class="newscon">
                <h2>
                    <a href="https://www.accela.eu/discover/pretargeted-delivery-of-pi3k-mtor-small-molecule-inhibitor-loaded-nanoparticles">Pretargeted delivery of PI3K/mTOR small-molecule inhibitor-loaded nanoparticles</a>
                </h2>

                <div class="newstext"><p>Overactivation of the PI3K/mTOR signaling has been identified in non-Hodgkin&rsquo;s lymphoma. BEZ235 is an effective dual PI3K/mTOR inhibitor, but it was withdrawn from early-phase clinical trials owing to poor solubility and on-target/off-tumor toxicity.</p></div>
                <p class="date">Jun 23, 2021</p>

                <div class="ntags">
                    <div class="ntag">
                        <span>Scientific paper</span>
                    </div>
                    <div class="ntag ntaglast">
                        <span>Application</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg bg-primary hpDiscoverItemM">
        <p>gfsd gdf g</p>
    </div>
    <div class="col-lg bg-primary hpDiscoverItemR">
        <p>aaaaaaaa aaa a aa aaaa a aaa </p>
    </div>-->
            </div>
            <div class="row">
                <div class="col-lg w-100 hpDiscoverItemL hpdiscobox hpdiscobox1">
                    <p class="desc">Technologies</p>
                    <a href="https://www.accela.eu/discover?field=molecular-technologies">Molecular technologies</a>
                    <span>|</span>
                    <a href="https://www.accela.eu/discover?field=cellular-analysis">Cellular analysis</a>
                    <span>|</span>
                    <a href="https://www.accela.eu/discover?field=flow-cytometry">Flow cytometry</a><br />
                    <a href="https://www.accela.eu/discover?field=in-vivo-imaging">In vivo imaging</a>
                    <span>|</span>
                    <a href="https://www.accela.eu/discover?field=animal-research">Animal research</a>
                </div>
                <div class="col-lg w-100 hpDiscoverItemR hpdiscobox hpdiscobox1">
                    <p class="desc">Type of the News</p>
                    <a href="https://www.accela.eu/discover?tag=scientific-paper">Scientific paper</a>
                    <span>|</span>
                    <a href="https://www.accela.eu/discover?tag=technical-breakthrough">Technical breakthrough</a>
                    <span>|</span>
                    <a href="https://www.accela.eu/discover?tag=webinar">Webinar</a><br />
                    <a href="https://www.accela.eu/discover?tag=video">Video</a>
                    <span>|</span>
                    <a href="https://www.accela.eu/discover?tag=application">Application</a>
                    <span>|</span>
                    <a href="https://www.accela.eu/discover?tag=product-news">Product news</a>
                    <span>|</span>
                    <a href="https://www.accela.eu/discover?tag=meet-us">Meet us</a>
                </div>

            </div>

        </div>
       
    </div>
    <div class="row hpBoxContainer">
        
        <div class="col-lg-8 offset-lg-2">

            <div class="row">
                <p class="mx-auto hpSubTitle">Featured products</p>
            </div>
            <div class="row">
                @{
                    int countProduct = 1;
                    string clasData = "";
                    foreach (Product prod in ViewBag.SelectedProduct)
                    {
                        /*  if (countProduct == 1){
                              <div class="col-lg-4 hpProdItemL">
                          }
                          else if (countProduct == 2)
                          {
                              <div class="col-lg-4 hpProdItemM">
                          }
                          else
                          {
                                                  <div class="col-lg-4 hpProdItemR">
                                                      }*/
                        if(countProduct == 1)
                        {
                            clasData = "hpProdItemL";
                            countProduct++;
                        }
                        else if(countProduct == 2) { clasData = "hpProdItemM";
                            countProduct++;
                        } else { clasData = "hpProdItemR";
                            countProduct++;
                        }
                        <div class="col-lg-4 @clasData">
                            <div class="flex-item">
                                <div class="row prodItem">
                                    <div class="col-lg-12 col-5">
                                        <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                        <h3 class="prodName"><a>@prod.Name</a></h3>
                                    </div>
                                    <div class="col-lg-12 col-7 MprodItemBottom">
                                        <h3 class="prodSubtitle"><a> @prod.Name</a></h3>
                                        <p class="h3desc">@prod.Subtitle</p>
                                        <div class="outerM">
                                            <a href="#">
                                                <div class="button">
                                                    <div class="text row">show detail <span class="buttonImage"></span></div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <div class="prodItemBottom">
                                        <p class="h3desc hide h3descProduct">@prod.Subtitle</p>
                                        <a href="seznam.cz" class="newButton prodButton hide">
                                            Show more
                                            <img class="btnIconWhite" src="~/file/pictures/icon_rightw_button.png" />
                                            <img class="btnIconGreen" src="~/file/pictures/icon_right_button.png" />
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>
                        }


}
                <!--
               <div class="col-lg-4 hpProdItemL">
    <div class="flex-item">
        <div class="row prodItem">
            <div class="col-lg-12 col-5">
                <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                <h3 class="prodName"><a> F DSFG SDG</a></h3>
            </div>
            <div class="col-lg-12 col-7 MprodItemBottom">
                <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                <div class="outerM">
                    <a href="#">
                        <div class="button">
                            <div class="text row">show detail <span class="buttonImage"></span></div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="prodItemBottom">
                <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
           <a href="seznam.cz" class="newButton prodButton hide">
               Show more
               <img class="btnIconWhite" src="~/file/pictures/icon_rightw_button.png" />
               <img class="btnIconGreen" src="~/file/pictures/icon_right_button.png" />
           </a>
       </div>

                   </div>

               </div>

           </div>

           <div class="col-lg-4 hpProdItemM">
               <div class="flex-item">
                   <div class="row prodItem">
                       <div class="col-lg-12 col-5">
                           <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                           <h3 class="prodName"><a> F DSFG SDG</a></h3>
                       </div>
                       <div class="col-lg-12 col-7 MprodItemBottom">
                           <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                           <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                           <div class="outerM">
                               <a href="#">
                                   <div class="button">
                                       <div class="text row">show detail <span class="buttonImage"></span></div>
                                   </div>
                               </a>
                           </div>

                       </div>

                       <div class="prodItemBottom">
                           <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                           <a href="seznam.cz" class="newButton prodButton hide">
                               Show more
                               <img class="btnIconWhite" src="~/file/pictures/icon_rightw_button.png" />
                               <img class="btnIconGreen" src="~/file/pictures/icon_right_button.png" />
                           </a>
                       </div>

                   </div>

               </div>
           </div>
           <div class="col-lg-4 hpProdItemR">
              <div class="flex-item">
                   <div class="row prodItem">
                       <div class="col-lg-12 col-5">
                           <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                           <h3 class="prodName"><a> F DSFG SDG</a></h3>
                       </div>
                       <div class="col-lg-12 col-7 MprodItemBottom">
                           <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                           <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                           <div class="outerM">
                               <a href="#">
                                   <div class="button">
                                       <div class="text row">show detail <span class="buttonImage"></span></div>
                                   </div>
                               </a>
                           </div>

                       </div>

                       <div class="prodItemBottom">
                           <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                           <a href="seznam.cz" class="newButton prodButton hide">
                               Show more
                               <img class="btnIconWhite" src="~/file/pictures/icon_rightw_button.png" />
                               <img class="btnIconGreen" src="~/file/pictures/icon_right_button.png" />
                           </a>
                       </div>

                   </div>

               </div>
           </div>-->

            </div>

        </div>
        <div class="col-lg-2">
            <div class="row">


            </div>

        </div>
    </div>
    <div class="row bg-warning hpBoxContainer">
        <div class="col-lg-8 offset-lg-2">
            <!-- base of div for responsibility  -->

            <div class="row">
                <p class="mx-auto hpSubTitle">Our brands</p>
            </div>
            <div class="row hpBrandContainer">

                @{
                    int countBrand = 1;
                    foreach (Brand brand in ViewBag.BrandList)
                    {

                        if (countBrand == 1 || countBrand == 2)
                        {
                            <div class="hpBrandFirstRow">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>

                        }
                        if (countBrand >= 3 && countBrand <= 6)
                        {
                            <div class="hpBrandFirstRow hpBrandTablet">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }
                        if (countBrand == 7)
                        {
                            <div class="hpBrandStandartItem hpBrandA">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>

                        }
                        if (countBrand >= 8 && countBrand <= 17)
                        {
                            <div class="hpBrandStandartItem ">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }
                        if (countBrand == 18)
                        {
                            <div class="hpBrandStandartItem hpBrandA hpBrandC">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }
                        if (countBrand == 19)
                        {
                            <div class="hpBrandStandartItem hpBrandB">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }

                        if (countBrand >= 20 && countBrand <= 28)
                        {
                            <div class="hpBrandStandartItem ">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }
                        if (countBrand == 29)
                        {
                            <div class="hpBrandStandartItem hpBrandA hpBrandC">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }
                        if (countBrand == 30)
                        {
                            <div class="hpBrandStandartItem hpBrandB">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }

                        if (countBrand >= 31 && countBrand <= 39)
                        {
                            <div class="hpBrandStandartItem ">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }
                        if (countBrand == 40)
                        {
                            <div class="hpBrandStandartItem hpBrandA hpBrandC">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }
                        if (countBrand == 41)
                        {
                            <div class="hpBrandStandartItem hpBrandB">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }

                        if (countBrand >= 42 && countBrand <= 50)
                        {
                            <div class="hpBrandStandartItem ">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }



                        if (countBrand == 51)
                        {
                            <div class="hpBrandStandartItem hpBrandA hpBrandC">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }
                        if (countBrand == 52)
                        {
                            <div class="hpBrandStandartItem hpBrandB">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }
                        if (countBrand >= 53 && countBrand <= 61)
                        {
                            <div class="hpBrandStandartItem ">
                                <a href="/Brand/@brand.URL">
                                    <div class="hpBrandImage">
                                        <img src="~/file/img/Brands/@brand.ImageRelativeURL" alt="@brand.Name" />

                                    </div>
                                </a>
                            </div>
                        }


                        countBrand++;
                    }
                }

                <!--<div class="hpBrandFirstRow">
        <div class="hpBrandImage">
            <img src="~/file/pictures/agilent-technologies-logo.png" />

        </div>
    </div>
    <div class="hpBrandFirstRow">

    </div>-->
                <!-- <div class="hpBrandFirstRow hpBrandTablet">

    </div>
    <div class="hpBrandFirstRow hpBrandTablet">

    </div>
    <div class="hpBrandFirstRow hpBrandMobil">

    </div>
    <div class="hpBrandFirstRow hpBrandMobil">

    </div>-->
                <!--  <div class="hpBrandStandartItem ">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>


    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>


    <div class="hpBrandStandartItem hpBrandA hpBrandC">

    </div>
    <div class="hpBrandStandartItem hpBrandB">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>




    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>



    <div class="hpBrandStandartItem hpBrandA hpBrandC">

    </div>
    <div class="hpBrandStandartItem hpBrandB">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>




    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>
    <div class="hpBrandStandartItem">

    </div>-->



            </div>




        </div>
       
    </div>
</div>





