@model accela.Models.Product;
@{ 
    ViewData["Title"] = "ProductDetail";
    /*Product prod = new Product();
    prod = ViewBag.ProductList;*/
}

<div class="row pageRow">
   

    <div class="pageContentMain">
        <div class="col-lg-10 offset-lg-1 productDetail">
            <div class="row">
                <div class="col-lg-4 col-12 mr-lg-2 mr-0 bg-dark">
                    <div class="row productLeftPannel">

                        <!--test-->


                        <style>

                            .row:after {
                                content: "";
                                display: table;
                                clear: both;
                            }
                            /* The Modal (background) */
                            .modal {
                                display: none;
                                position: fixed;
                                z-index: 1;
                                padding-top: 100px;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                overflow: auto;
                                background-color: black;
                            }

                            /* Modal Content */
                            .modal-content {
                                position: relative;
                                background-color: #fefefe;
                                margin: auto;
                                padding: 0;
                                width: 90%;
                                max-width: 1200px;
                            }

                            /* The Close Button */
                            .close {
                                color: white;
                                position: absolute;
                                top: 10px;
                                right: 25px;
                                font-size: 35px;
                                font-weight: bold;
                            }

                                .close:hover,
                                .close:focus {
                                    color: #999;
                                    text-decoration: none;
                                    cursor: pointer;
                                }

                            /* Hide the slides by default */
                            .mySlides {
                                display: none;
                            }

                            /* Next & previous buttons */
                            .prev,
                            .next {
                                cursor: pointer;
                                position: absolute;
                                top: 50%;
                                width: auto;
                                padding: 16px;
                                margin-top: -50px;
                                color: white;
                                font-weight: bold;
                                font-size: 20px;
                                transition: 0.6s ease;
                                border-radius: 0 3px 3px 0;
                                user-select: none;
                                -webkit-user-select: none;
                            }

                            /* Position the "next button" to the right */
                            .next {
                                right: 0;
                                border-radius: 3px 0 0 3px;
                            }

                                /* On hover, add a black background color with a little bit see-through */
                                .prev:hover,
                                .next:hover {
                                    background-color: rgba(0, 0, 0, 0.8);
                                }

                            /* Number text (1/3 etc) */
                            .numbertext {
                                color: #f2f2f2;
                                font-size: 12px;
                                padding: 8px 12px;
                                position: absolute;
                                top: 0;
                            }
                            .closeModalImage {
                                position: absolute;
                                padding: 8px 12px;
                                top: 0;
                                left: 95%;
                            }
                            .closeModalImage img{
                                min-width:20px;
                                margin-left:-25px;
                            }
                            /* Caption text */
                            .caption-container {
                                text-align: center;
                                background-color: black;
                                padding: 2px 16px;
                                color: white;
                            }

                            img.demo {
                                opacity: 0.6;
                            }

                            .active,
                            .demo:hover {
                                opacity: 1;
                            }

                            img.hover-shadow {
                                transition: 0.3s;
                            }

                            .hover-shadow:hover {
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                            }
                            .gclose {
                                background-image: url(../file/pictures/icon_xw.png);
                                width:20px;
                                height:20px;
                                background-size:20px 20px;
                                
                            }
                        
                            
                            </style>>













                        <!-- Images used to open the lightbox -->
                        <!--<div class="row">
                            <div class="column">
                                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" onclick="openModal();currentSlide(1)" class="hover-shadow">
                            </div>
                            <div class="column">
                                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" onclick="openModal();currentSlide(2)" class="hover-shadow">
                            </div>
                            <div class="column">
                                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" onclick="openModal();currentSlide(3)" class="hover-shadow">
                            </div>
                            <div class="column">
                                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" onclick="openModal();currentSlide(4)" class="hover-shadow">
                            </div>
                        </div>-->

                        <!-- The Modal/Lightbox -->
                        <div id="myModal" class="modal">
                            <span class="close cursor" onclick="closeModal()">&times; ssssss</span>
                            <!--<a onclick="closeModal()" class="gclose">ffd</a>-->
                            <div class="modal-content">

                                <div class="mySlides">
                                    <div class="numbertext">1 / 4</div>
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" style="width:100%">
                                    <div class="closeModalImage" onclick="closeModal()"><img src="~/file/pictures/icon_xw.png"></div>
                                </div>

                                <div class="mySlides">
                                    <div class="numbertext">2 / 4</div>
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" style="width:100%">
                                </div>

                                <div class="mySlides">
                                    <div class="numbertext">3 / 4</div>
                                    <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(31).jpg" style="width:100%">
                                   
                                </div>

                                <div class="mySlides">
                                    <div class="numbertext">4 / 4</div>
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" style="width:100%">
                                </div>

                                <!-- Next/previous controls -->
                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                                <!-- Caption text -->
                                <div class="caption-container">
                                    <p id="caption"></p>
                                </div>

                                <!-- Thumbnail image controls -->
                                <!--<div class="kklll">
            <div class="column">
                <img class="demo" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" onclick="currentSlide(1)" alt="Nature">
            </div>

            <div class="column">
                <img class="demo" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" onclick="currentSlide(2)" alt="Snow">
            </div>

            <div class="column">
                <img class="demo" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" onclick="currentSlide(3)" alt="Mountains">
            </div>

            <div class="column">
                <img class="demo" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" onclick="currentSlide(4)" alt="Lights">
            </div>
            <div class="column">
                <img class="demo" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" onclick="currentSlide(4)" alt="Lights">
            </div>
        </div>-->

                            </div>
                        </div>




























                        <script>
                            // Open the Modal
                            function openModal() {
                                document.getElementById("myModal").style.display = "block";
                            }

                            // Close the Modal
                            function closeModal() {
                                document.getElementById("myModal").style.display = "none";
                            }

                            var slideIndex = 1;
                            showSlides(slideIndex);

                            // Next/previous controls
                            function plusSlides(n) {
                                showSlides(slideIndex += n);
                            }

                            // Thumbnail image controls
                            function currentSlide(n) {
                                showSlides(slideIndex = n);
                            }

                            function showSlides(n) {
                                var i;
                                var slides = document.getElementsByClassName("mySlides");
                                var captionText = document.getElementById("caption");
                                if (n > slides.length) { slideIndex = 1 }
                                if (n < 1) { slideIndex = slides.length }
                                for (i = 0; i < slides.length; i++) {
                                    slides[i].style.display = "none";
                                }
                               
                                slides[slideIndex - 1].style.display = "block";
                            }
                            $(document).keyup(function (e) {
                                if (e.key === "Escape") { 
                                    document.getElementById("myModal").style.display = "none";
                                }
                            });

                        </script>
                        <!--end test-->



































                        <!-- Font Awesome -->
                        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
                              rel="stylesheet" />
                        <!-- Google Fonts -->
                        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
                              rel="stylesheet" />
                        <!-- MDB -->
                        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
                              rel="stylesheet" />
                        <!-- MDB -->
                        <script type="text/javascript"
                                src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>






                        <!-- Carousel wrapper -->
                        <div id="carouselExampleIndicators" class="carousel slide carousel-fade">
                            <!-- Slides -->
                            <div class="carousel-inner mb-5" id="myCarousel">
                                <div class="carousel-item active">
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" class="d-block w-100" id="js_image" alt="..." onclick="openModal();currentSlide(1)" />
                                </div>
                                <div class="carousel-item">
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg"
                                         class="d-block w-100" id="js_image"
                                         alt="..." />
                                </div>
                                <div class="carousel-item">
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg"
                                         class="d-block w-100" id="js_image"
                                         alt="..." />
                                </div>
                                <div class="carousel-item">
                                    <img src="~/file/pictures/foot_logo.png"
                                         class="d-block w-100" id="js_image"
                                         alt="..." />
                                </div>
                            </div>
                            <!-- Slides -->
                            <!-- Controls -->
                            <button class="carousel-control-prev"
                                    type="button"
                                    data-mdb-target="#carouselExampleIndicators"
                                    data-mdb-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next"
                                    type="button"
                                    data-mdb-target="#carouselExampleIndicators"
                                    data-mdb-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <!-- Controls -->
                            <!-- Thumbnails -->
                            <div class="carousel-indicators" style="margin-bottom: -20px;">
                                <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0" class="active carusel-indicator-item" aria-current="true" aria-label="Slide 1">
                                    <img class="d-block w-100 img-fluid" src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(88).jpg" />
                                </button>
                                <button class="carusel-indicator-item" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1" aria-label="Slide 2">
                                    <img class="d-block w-100 img-fluid" src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(121).jpg" />
                                </button>
                                <button class="carusel-indicator-item img-fluid" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2" aria-label="Slide 3">
                                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(31).jpg" />
                                </button>
                                <button class="carusel-indicator-item img-fluid" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="3" aria-label="Slide 4">
                                    <img class="d-block w-100" src="~/file/pictures/foot_logo.png" />
                                </button>

                            </div>
                            <!-- Thumbnails -->
                        </div>
                        <!-- Carousel wrapper -->
                        <!--references-->
                        @{
                            foreach (References references in Model.References)
                            {
                                <div class="productReferencesContainer">
                                    <div class="prodrefc">
                                        <div class="prodref">
                                            <div class="prodreftext"><p>"<em>@references.Description</em>".</p></div>
                                            <div class="prodrefl">
                                                <p class="author">@references.Name</p>
                                                <p class="company">@references.Company</p>
                                            </div>
                                            <div class="prodrefr">
                                                <div class="prodrefi">
                                                    <img alt="@references.Company" src="~/file/img/References/@references.Img" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                        }




                        <!--end references-->









                    </div>
                </div>
                <div class="col-lg-4 col-12 mr-lg-2 mr-0">
                    <h1>@ViewData["Title"]</h1>
                    <div class="ptext">
                        <h1>@Model.Name</h1>
                        <p class="h1desc">High resolution microscopy in flow</p>
                        <div class="text" id="prod_text">
                            <p style="text-align: justify;">@Model.Description</p>
                           
                        </div>
                        <p class="show">
                            <a class="show_all hide" id="show_more" href="javascript:">Show more</a>
                        </p>


                        <p class="blink">More info at:</p>
                        <a class="blink" href="@Model.ReferenceLink" target="_blank">@Model.ReferenceLink</a>
                        <div class="pfiles files">
                            <p class="docu">Documentation</p>
                            <p class="file file_pdf">
                                <a href="https://www.accela.eu/files/products/9/amnis-imaging-flow-cytometers-brochure.pdf" rel="" target="_blank" data-type="pdf" class="file pdf">amnis-imaging-flow-cytometers-brochure (2,55&nbsp;MB)</a>
                            </p>
                            <p class="file file_pdf">
                                <a href="https://www.accela.eu/files/products/9/biochemistry_publications.pdf" rel="" target="_blank" data-type="pdf" class="file pdf">biochemistry_publications (1,94&nbsp;MB)</a>
                            </p>
                            <p class="file file_pdf">
                                <a href="https://www.accela.eu/files/products/9/clinical_research_publications.pdf" rel="" target="_blank" data-type="pdf" class="file pdf">clinical_research_publications (5,30&nbsp;MB)</a>
                            </p>
                            <p class="file file_pdf">
                                <a href="https://www.accela.eu/files/products/9/immunology_publications.pdf" rel="" target="_blank" data-type="pdf" class="file pdf">immunology_publications (2,12&nbsp;MB)</a>
                            </p>
                            <p class="file file_pdf">
                                <a href="https://www.accela.eu/files/products/9/microbiology_publications.pdf" rel="" target="_blank" data-type="pdf" class="file pdf">microbiology_publications (1,99&nbsp;MB)</a>
                            </p>
                            <p class="file file_pdf">
                                <a href="https://www.accela.eu/files/products/9/nanotechnology_publications.pdf" rel="" target="_blank" data-type="pdf" class="file pdf">nanotechnology_publications (309&nbsp;kB)</a>
                            </p>
                            <p class="file file_pdf">
                                <a href="https://www.accela.eu/files/products/9/oncology_cancer_research_publications.pdf" rel="" target="_blank" data-type="pdf" class="file pdf">oncology_cancer_research_publications (2,07&nbsp;MB)</a>
                            </p>
                            <p class="file file_pdf">
                                <a href="https://www.accela.eu/files/products/9/sperm-cells-pna-differentiation.PDF" rel="" target="_blank" data-type="pdf" class="file pdf">sperm-cells-pna-differentiation (734&nbsp;kB)</a>
                            </p>
                        </div>
                        <div class="pfiles">
                            <p class="docu">Discover more</p>
                            @{
                                foreach (News newData in Model.News)
                                {
                                    <a class="newslink" href="/Discover/@newData.URL">@newData.Title</a>

                                }
                            }
                            <!--
                            <a class="newslink" href="https://www.accela.eu/discover/quantitating-critical-subcellular-events-in-significant-populations-using-imaging-flow-cytometry">Quantitating critical subcellular events in significant populations using Imaging flow cytometry</a>
                            <a class="newslink" href="https://www.accela.eu/discover/identification-and-measurement-of-bacterial-size-using-the-imagestream">Identification and measurement of bacterial size using the ImageStream</a>
                            <a class="newslink" href="https://www.accela.eu/discover/co-localization-of-an-antibody-drug-conjugate-to-endosomes-or-lysosomes">Co-localization of an antibody-drug conjugate to endosomes or lysosomes</a>
                            <a class="newslink" href="https://www.accela.eu/discover/f-i-s-h-analysis-using-imagestream-multispectral-imaging-flow-cytometry">F.I.S.H. analysis using ImageStream, multispectral imaging flow cytometry</a>
                            <a class="newslink" href="https://www.accela.eu/discover/analysis-of-mitochondrial-function-and-localisation-during-human-embryonic-stem-cell-differentiation">Analysis of mitochondrial function and localisation during human embryonic stem cell differentiation</a>
                            <a class="newslink" href="https://www.accela.eu/discover/imaging-flow-cytometry-for-automated-detection-of-hypoxia-induced-erythrocyte-shape-change">Imaging flow cytometry for automated detection of Hypoxia-Induced Erythrocyte shape change</a>
                            <a class="newslink" href="https://www.accela.eu/discover/measuring-immunological-synapse-using-the-flowsight-imaging-flow-cytometer">Measuring immunological synapse using the FlowSight imaging flow cytometer</a>
                            <a class="newslink" href="https://www.accela.eu/discover/imaging-flow-cytometry-webinar-aging-cells-giant-viruses-using-amnis-platform">Imaging Flow Cytometry webinar: aging cells, giant viruses using AMNIS platform</a>
                            <a class="newslink" href="https://www.accela.eu/discover/cutting-edge-analysis-of-extracellular-microparticles-using-imagestream-imaging-flow-cytometry">Cutting-edge analysis of Extracellular Microparticles using ImageStream Imaging Flow Cytometry</a>
                            <a class="newslink" href="https://www.accela.eu/discover/covid-19-flow-cytometry-supporting-the-new-challenge-for-global-health">COVID‐19: Flow cytometry supporting the new challenge for global health</a>
                            <a class="newslink" href="https://www.accela.eu/discover/immunophenotyping-extracellular-vesicles-using-amnis-cellstream">Immunophenotyping Extracellular Vesicles using Amnis CellStream</a>
                            <a class="newslink" href="https://www.accela.eu/discover/introducing-amnis-ai-image-analysis-software">Introducing Amnis AI Image Analysis software</a>
                            <a class="newslink" href="https://www.accela.eu/discover/using-dna-repair-and-machine-learning-to-improve-cancer-risk-prediction">Using DNA repair and machine learning to improve cancer risk prediction</a>
                            <a class="newslink" href="https://www.accela.eu/discover/high-gain-mode-now-available-on-the-amnis-imagestreamx-mk-ii">High gain mode now available on the Amnis ImageStreamX Mk II</a>
                            <a class="newslink" href="https://www.accela.eu/discover/imaging-flow-cytometry-luminex-learning-sessions">Imaging Flow Cytometry Luminex learning sessions</a>
                        -->
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-12 manTechDetail">
                    <div class="fixme" id="myDiv">
                        <div class="manic">
                            <div class="cell_88_100"></div>
                            <div class="mani">
                                <img alt="@Model.Manager.Firstname @Model.Manager.Lastname" src="~/file/img/Brands/@Model.Manager.ImageRelativeURL" />
                            </div>
                        </div>
                        <div class="manr">
                            <p class="func">@Model.Manager.Department.Name</p>
                            <p class="name">@Model.Manager.Firstname</p>
                            <p class="name">@Model.Manager.Lastname</p>
                        </div>
                        <div class="mancon">
                            <p class="phone con">@Model.Manager.Phone</p>
                            <p class="email con">@Model.Manager.Email</p>
                        </div>
                        <div class="outerS productOuterS">
                            <a href="#">
                                <div class="button">
                                    <div class="text"> send message   <span class="buttonImage buttonImageProduct"></span></div>
                                </div>
                            </a>
                        </div>
                        <div class="pdemo">
                            <p class="desc">Setup a demonstration<br />with our specialist</p>

                            <div class="outerS productOuterS ">
                                <a href="#">
                                    <div class="button button_red">
                                        <div class="text"> Request a demo<span class="buttonImage buttonImageProduct buttonImageRed"></span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                  
                </div>



            </div>




        </div>

        <div class="techdel proddel">
            <div class="techdelc">

            </div>
        </div>
        <div class="col-lg-10 offset-1 col-12">

           
            <div class="flex-container column">
                @{
                    foreach (Product prod in Model.RelatedProducts)
                    {
                        <div class="flex-item">
                            <div class="row prodItem">
                                <div class="col-lg-12 col-5">
                                    <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                    <h3 class="prodName"><a>@prod.Name</a></h3>
                                </div>
                                <div class="col-lg-12 col-7 MprodItemBottom">
                                    <h3 class="prodSubtitle"><a>@prod.Name</a></h3>
                                    <p class="h3desc">@prod.Subtitle</p>


                                    <div class="outerM">
                                        <a href="#">
                                            <div class="button">
                                                <div class="text row">show detail <span class="buttonImage"></span></div>
                                            </div>
                                        </a>
                                    </div>



                                </div>

                                <div class="prodItemBottom">
                                    <p class="h3desc hide h3descProduct">@prod.Subtitle</p>


                                    <div class="outer productOuterS">
                                        <a href="#">
                                            <div class="button">
                                                <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                            </div>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    }
                }
                <!--
                <div class="flex-item">
                    <div class="row prodItem">
                        <div class="col-lg-12 col-5">
                            <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                            <h3 class="prodName"><a> F DSFG SDG</a></h3>
                        </div>
                        <div class="col-lg-12 col-7 MprodItemBottom">
                            <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                            <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>


                            <div class="outerM">
                                <a href="#">
                                    <div class="button">
                                        <div class="text row">show detail <span class="buttonImage"></span></div>
                                    </div>
                                </a>
                            </div>



                        </div>

                        <div class="prodItemBottom">
                            <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>


                            <div class="outer productOuterS">
                                <a href="#">
                                    <div class="button">
                                        <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                    </div>
                                </a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="row prodItem">
                        <div class="col-lg-12 col-5">
                            <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                            <h3 class="prodName"><a> F DSFG SDG</a></h3>
                        </div>
                        <div class="col-lg-12 col-7 MprodItemBottom">
                            <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                            <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                            <div class="outerM">
                                <a href="#">
                                    <div class="button">
                                        <div class="text row">show detail <span class="buttonImage"></span></div>
                                    </div>
                                </a>
                            </div>

                        </div>

                        <div class="prodItemBottom">
                            <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                            <div class="outer productOuterS">
                                <a href="#">
                                    <div class="button">
                                        <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="row prodItem">
                        <div class="col-lg-12 col-5">
                            <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                            <h3 class="prodName"><a> F DSFG SDG</a></h3>
                        </div>
                        <div class="col-lg-12 col-7 MprodItemBottom">
                            <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                            <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                            <div class="outerM">
                                <a href="#">
                                    <div class="button">
                                        <div class="text row">show detail <span class="buttonImage"></span></div>
                                    </div>
                                </a>
                            </div>

                        </div>

                        <div class="prodItemBottom">
                            <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                            <div class="outer productOuterS">
                                <a href="#">
                                    <div class="button">
                                        <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="row prodItem">
                        <div class="col-lg-12 col-5">
                            <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                            <h3 class="prodName"><a> F DSFG SDG</a></h3>
                        </div>
                        <div class="col-lg-12 col-7 MprodItemBottom">
                            <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                            <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                            <div class="outerM">
                                <a href="#">
                                    <div class="button">
                                        <div class="text row">show detail <span class="buttonImage"></span></div>
                                    </div>
                                </a>
                            </div>

                        </div>

                        <div class="prodItemBottom">
                            <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                            <div class="outer productOuterS">
                                <a href="#">
                                    <div class="button">
                                        <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="row prodItem">
                        <div class="col-lg-12 col-5">
                            <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                            <h3 class="prodName"><a> F DSFG SDG</a></h3>
                        </div>
                        <div class="col-lg-12 col-7 MprodItemBottom">
                            <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                            <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                            <div class="outerM">
                                <a href="#">
                                    <div class="button">
                                        <div class="text row">show detail <span class="buttonImage"></span></div>
                                    </div>
                                </a>
                            </div>

                        </div>

                        <div class="prodItemBottom">
                            <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                            <div class="outer productOuterS">
                                <a href="#">
                                    <div class="button">
                                        <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>-->






            </div>

        </div>


    </div>
</div>