@{
    ViewData["Title"] = "Brand Detail";
    Brand brand = new Brand();
    brand = ViewBag.BrandList;
}



<div class="row pageRow">
    <div class="row bannerNoStyle bannerContainer">
        <h1 class="pTop text-center">@ViewData["Title"]</h1>

    </div>
    <div class="pageContentMain">
        <div class="col-lg-10 offset-lg-1">
            <div class="row techc">
                
                @{
                    //foreach (Brand brand in ViewBag.BrandList)
                    //{
                    <div class="col-lg-2 col-12">
                        <div class="techl">
                            <div class="techlic">
                                <div class="cell_186_210"></div>
                                <div class="techli">
                                    <img alt="Ultra and high performance centrifuges" src="~/file/img/Brands/@brand.ImageRelativeURL" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-7 col-12 techr">
                        <h1>@brand.Name @brand.ID</h1>
                        <p></p>
                        <p class="h1desc">Get the the highest performance in the class</p>
                        <div class="text smtext" id="prod_text">
                            <p style="color: #333333; font-size: 12px; font-family: Arial, sans-serif;">@brand.Description </p>
                            <!--<p style="color: #333333; font-size: 12px; font-family: Arial, sans-serif;">Centrifuges are devices for separating particles from a heterogeneous mixture. Fundamental to separation is the increase in the effective gravitational force by spinning the sample in the single cavity or the tubes of a rotor as the &lsquo;mobile part&rsquo; of a centrifuge. Subjected to the respective centrifugal force thus applied, the individual constituents of a sample will differentially sediment according to their physical properties as well as the density and viscosity of the sample solution.</p>
                <p style="color: #333333; font-size: 12px; font-family: Arial, sans-serif;">Ultracentrifuges are optimised for spinning a rotor at very high speeds generating centrifugal forces as high as 1&thinsp;000&thinsp;000<em>g</em>. They&nbsp;are used in biology for the fractionation of fine particulate samples such as tissue homogenates aiming to isolate subcellular organelles, macromolecules, bacteria or viruses.</p>
                <div class="ptextover hide" id="prod_text_over"></div>-->
                            
                        </div>
                        <p class="show">
                            <a class="show_all " id="show_more" href="javascript:">Show more</a>
                        </p>

                    </div>
                    //}
                }



                <!--manager-->
                <div class="col-lg-3 col-12 manTechDetail">
                    <div class="manic">
                        <div class="cell_88_100"></div>
                        <div class="mani">
                            <img alt="Igor Valerián" src="~/file/img/Managers/@brand.Contact.ImageRelativeURL" />
                        </div>
                    </div>
                    <div class="manr">
                        <p class="func">@brand.Contact.Department.Name</p>
                        <p class="name">@brand.Contact.Firstname</p>
                        <p class="name">@brand.Contact.Lastname</p>
                    </div>
                    <div class="mancon">
                        <p class="phone con">@brand.Contact.Phone</p>
                        <p class="email con">@brand.Contact.Email</p>
                    </div>
                    <div class="outerS">
                        <a href="#">
                            <div class="button">
                                <div class="text row">send message <span class="buttonImage"></span></div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
            <div class="techdel proddel">
                <div class="techdelc">

                </div>
            </div>
            <div class="col-lg-10 offset-1 col-12 fieldps">
                <h2>Allevi products</h2>
                <div class="flex-container column">
                    @{
/* foreach (Product prod in ViewBag.RelatedProductBrandList)
 {


     <div class="flex-item">
         <div class="row prodItem">
             <div class="col-lg-12 col-5">
                 @{
                     if (prod.Image == null || prod.Image == "")
                     {
                         // <img src="~/file/pictures/@prod.Producer.ImageRelativeURL" />

                     }
                     else
                     {
                         <img src="~/file/pictures/@prod.Image" />
                     }
                 }
                 <h3 class="prodName"><a> @prod.Name</a></h3>
             </div>
             <div class="col-lg-12 col-7 MprodItemBottom">
                 <h3 class="prodSubtitle"><a>@prod.Subtitle</a></h3>
                 <p class="h3desc">@prod.SmallDescription</p>
                 <div class="outerM">
                     <a href="#">
                         <div class="button">
                             <div class="text row">show detail <span class="buttonImage"></span></div>
                         </div>
                     </a>
                 </div>

             </div>

             <div class="prodItemBottom">
                 <p class="h3desc hide h3descProduct">@prod.SmallDescription</p>
                 <div class="outer">
                     <a href="#">
                         <div class="button">
                             <div class="text row">show detail <span class="buttonImage"></span></div>
                         </div>
                     </a>
                 </div>
             </div>

         </div>

     </div>

 }*/
                    }
                    @{
                        foreach (Product prod in ViewBag.ProductList)
                        {


                            <div class="flex-item">
                                <div class="row prodItem">
                                    <div class="col-lg-12 col-5">
                                        @{
                                            if (prod.Image == null || prod.Image == "")
                                            {
                                                // <img src="~/file/pictures/@prod.Producer.ImageRelativeURL" />
                                                <img src="~/file/pictures/imagestream_x_mkii_24.png" />

                                            }
                                            else
                                            {
                                                <img src="~/file/pictures/@prod.Image" />
                                            }
                                        }
                                        <h3 class="prodName"><a> @prod.Name</a></h3>
                                    </div>
                                    <div class="col-lg-12 col-7 MprodItemBottom">
                                        <h3 class="prodSubtitle"><a>@prod.Subtitle</a></h3>
                                        <p class="h3desc">@prod.SmallDescription</p>
                                        <a class="newButton">
                                            Show more
                                            <img class="btnIconWhite" src="~/file/pictures/icon_rightw_button.png" />
                                            <img class="btnIconGreen" src="~/file/pictures/icon_right_button.png" />
                                        </a>

                                    </div>

                                    <div class="prodItemBottom">
                                        <p class="h3desc hide h3descProduct">@prod.SmallDescription</p>
                                        <a class="newButton">
                                            Show more
                                            <img class="btnIconWhite" src="~/file/pictures/icon_rightw_button.png" />
                                            <img class="btnIconGreen" src="~/file/pictures/icon_right_button.png" />
                                        </a>
                                    </div>

                                </div>

                            </div>

                        }
                       
                    }
                    <!--
                    <div class="flex-item">
                        <div class="row prodItem">
                            <div class="col-lg-12 col-5">
                                <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                <h3 class="prodName"><a> F DSFG SDG</a></h3>
                            </div>
                            <div class="col-lg-12 col-7 MprodItemBottom">
                                <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                                <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                                <div class="outerM">
                                    <a href="#">
                                        <div class="button">
                                            <div class="text row">show detail <span class="buttonImage"></span></div>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="prodItemBottom">
                                <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                                <div class="outer productOuterS">
                                    <a href="#">
                                        <div class="button">
                                            <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-item">
                        <div class="row prodItem">
                            <div class="col-lg-12 col-5">
                                <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                <h3 class="prodName"><a> F DSFG SDG</a></h3>
                            </div>
                            <div class="col-lg-12 col-7 MprodItemBottom">
                                <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                                <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                                <div class="outerM">
                                    <a href="#">
                                        <div class="button">
                                            <div class="text row">show detail <span class="buttonImage"></span></div>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="prodItemBottom">
                                <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                                <div class="outer productOuterS">
                                    <a href="#">
                                        <div class="button">
                                            <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-item">
                        <div class="row prodItem">
                            <div class="col-lg-12 col-5">
                                <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                <h3 class="prodName"><a> F DSFG SDG</a></h3>
                            </div>
                            <div class="col-lg-12 col-7 MprodItemBottom">
                                <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                                <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                                <div class="outerM">
                                    <a href="#">
                                        <div class="button">
                                            <div class="text row">show detail <span class="buttonImage"></span></div>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="prodItemBottom">
                                <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                                <div class="outer productOuterS">
                                    <a href="#">
                                        <div class="button">
                                            <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-item">
                        <div class="row prodItem">
                            <div class="col-lg-12 col-5">
                                <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                <h3 class="prodName"><a> F DSFG SDG</a></h3>
                            </div>
                            <div class="col-lg-12 col-7 MprodItemBottom">
                                <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                                <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                                <div class="outerM">
                                    <a href="#">
                                        <div class="button">
                                            <div class="text row">show detail <span class="buttonImage"></span></div>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="prodItemBottom">
                                <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                                <div class="outer productOuterS">
                                    <a href="#">
                                        <div class="button">
                                            <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-item">
                        <div class="row prodItem">
                            <div class="col-lg-12 col-5">
                                <img src="~/file/pictures/imagestream_x_mkii_24.png" />
                                <h3 class="prodName"><a> F DSFG SDG</a></h3>
                            </div>
                            <div class="col-lg-12 col-7 MprodItemBottom">
                                <h3 class="prodSubtitle"><a> F DSFG SDG</a></h3>
                                <p class="h3desc">Flow cytometer capable of high resolution microscopic assays</p>
                                <div class="outerM">
                                    <a href="#">
                                        <div class="button">
                                            <div class="text row">show detail <span class="buttonImage"></span></div>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="prodItemBottom">
                                <p class="h3desc hide h3descProduct">Flow cytometer capable of high resolution microscopic assays</p>
                                <div class="outer productOuterS">
                                    <a href="#">
                                        <div class="button">
                                            <div class="text row">show detail <span class="buttonImage buttonImageProduct"></span></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>-->






                </div>

            </div>

        </div>
    </div>


</div>